html, body {
	font-size: 1.2em;
	background-image:URL('http://i.imgur.com/bgkdbSo.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	overflow-y:hidden;
	height:100%;
}

.outer-wrapper {
	display:inline-block;
	height:100%;
	width:49%;
}

.content-wrapper {
	display: block;
	overflow-y: scroll;
	height:100%;
	width:100%;
	margin:0 auto;
}

#mainApp {
	box-sizing:border-box;
	font-family: 'Titillium Web', sans-serif;
	margin:20px 0 20px 0;
}

h2 {
	margin:5px;
}

.section {
	background-color:black;
	opacity:0.6;
	color:white;
	padding: 5px; 
	margin: 5px;
	border-radius:5px;
	box-shadow:2 2 5 4 black;
}

.balanceSection {
	background-color:dark-grey;
	opacity:0.6;
	color:white;
	padding: 5px; 
	margin: 5px;
	border-radius:5px;
	box-shadow:2 2 5 4 black;
}

.section-title {
	text-decoration: underline;
	cursor: pointer;
}

.arrow {	
	display: inline-block;
	float: right;
	-webkit-transform: rotate(270deg) scaleY(-1);
	-moz-transform: rotate(270deg) scaleY(-1);
	-o-transform: rotate(270deg) scaleY(-1); 
	transform: rotate(270deg) scaleY(-1);
}

.section-input {
	display:block;
	padding:10px;
}

.section-input input, .total {
	float: right;
	
}

label, .budgetInput {
	width:40%;
}

.btn {
	display:inline-block;
	background-color:black;
	border:1px solid grey;
	border-radius:5px;
	padding:0 10px 0 10px;
	cursor:pointer;
}

.btn:hover {
	background-color:grey;
}

#canvas {
	background-color:white;
}

@media (max-width: 800px) {
	.outer-wrapper {
		width:100%;
	}
	
	.content-wrapper {
		height:auto;
		overflow-y:auto;
	}
	
	body {
		overflow-y: scroll;
	}
}
